
@{
    ViewBag.Title = "Index";
}

<h1>POSITION</h1>
<br/>
<div ng-controller="PositionController as model" ng-init="model.List()">
    <a href="/Position/Add" type="button" ng-click="model.Create()" class="btn btn-success" style="float: right; margin-right: 10px"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>  
    <div class="wrap">
        <div class="search">
            <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search here.." />
        </div>
    </div>
    <div class="row">
    </div><br />
    <table class="table table-hover table-sm table-bordered "id="tableid">
        <thead>
            <tr class="active" id="info">
                <th>Position Id</th>
                <th>Position </th>
            
                <th style="width: 100px">Update</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Position in model.Positions" ng-click="model.Details(Position)"  style="cursor:pointer">
                <td><span ng-bind="Position.PositionId"></span></td>
                <td><span ng-bind="Position.PositionName"></span></td>
                 <td>

                    <a href="/Position/Index" ng-click="model.Delete(Position)" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
   
    </div>

