
@{
    ViewBag.Title = "Add";
}


<h2>Add Employee</h2>


<div ng-controller="EmployeeController as model" ng-init="model.List()">

    <div class="form-group">
        <br />
        <form action="~/Employee/add" method="get" ng-app="App">
   
           
            <label for="CompanyId">Company Id:</label><br />
            <input list="CompanyId" name="CompanyId" ng-model="model.Employee.CompanyId" type="search" class="form-control" placeholder="Company ID" >
            <label for="PositionId">Position Id:</label>
            <input type="text" class="form-control" id="PositionId" ng-model="model.Employee.PositionId" placeholder="Position ID" required/>
            <label for="ManagerEmployeeId">Manager Employee Id:</label>
            <input type="text" class="form-control" id="ManagerEmployeeId" ng-model="model.Employee.ManagerEmployeeId" placeholder="Manager Employee Id" />
            <label for="DepartmentId">Department ID:</label>
            <input type="text" class="form-control" id="DepartmentId" ng-model="model.Employee.DepartmentId" placeholder="Department ID" required />
            <label for="FirstName">Firstname:</label>
            <input type="text" class="form-control" id="FirstName" ng-model="model.Employee.FirstName" placeholder="First Name" required/>
            <label for="LastName">Lastname:</label>
            <input type="text" class="form-control" id="LastName" ng-model="model.Employee.LastName" placeholder="Last Name" required/>
            <label for="MiddleName">Middle Name:</label>
            <input type="text" class="form-control" id="MiddleName" ng-model="model.Employee.MiddleName " placeholder="Middle Name" required/>
            <label for="Email">Email:</label>
            <input type="email" class="form-control" id="Email" ng-model="model.Employee.Email" placeholder="Email" required/>
            <label for="Job Title">Job Title:</label>
            <input type="text" class="form-control" id="JobTitle" ng-model="model.Employee.JobTitle" placeholder="Job Title" required />
            <label for="HiringDate">Hiring Date:</label>
            <input type="date" class="form-control" id="HiringDate" ng-model="model.Employee.HiringDate" placeholder="" required />
            <label for="StartingDate">Starting Date:</label>
            <input type="date" class="form-control" id="StartingDate" ng-model="model.Employee.StartingDate" placeholder="" required />
        <br />
            </form>
            <a href="/Employee/Index" ng-click="model.Create()" class="btn btn-info" role="button" style="margin-left:10px" float="left"><i class="glyphicon glyphicon-plus-sign"></i> ADD</a>
            <a href="/Employee/Index" class="btn btn-danger" role="button" style="margin-left:10px" float="left"><i class="glyphicon glyphicon-remove"></i> Close</a>
    </div>

</div>

