
@{
    ViewBag.Title = "Index";
}

<h1>EMPLOYEE</h1>
<br/>
<div ng-controller="EmployeeController as model" ng-init="model.List()">
    <a href="/Employee/Add" class="btn btn-success" role="button" ng-click="model.Create()" style="margin-left: 10px;float: right"><i class="glyphicon glyphicon-plus-sign"></i> ADD</a>
    <div class="wrap">
        <div class="search">
            <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search here.." />
        </div>
    </div>   
    <div class="row">
    </div><br />
    <table class="table table-hover table-sm table-bordered "  id="tableid">
        <thead>
            <tr class="active" id="info">
                <th>Employee Id</th>
                @*<th>Company Id</th>*@
                <th>Company</th>
                @*<th>Position Id</th>*@
                <th>Position</th>
                <th>Department</th>
                <th>Manager Employee Id</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Hiring Date</th>
                <th>Starting Date</th>

                <th style="width: 100px">Update</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Employee in model.Employees"  ng-click="model.Details(Employee)" style="cursor:pointer"  filter="">
                <td><span ng-bind="Employee.EmployeeId"></span></td>
                @*<td><span ng-bind="Employee.CompanyId"></span></td>*@
                <td><span ng-bind="Employee.Company.CompanyName"></span></td>
                @*<td><span ng-bind="Employee.PositionId"></span></td>*@
                <td><span ng-bind="Employee.Position.PositionName"></span></td>
                <td><span ng-bind="Employee.Department.Description"></span></td>
                <td><span ng-bind="Employee.ManagerEmployeeId"></span></td> 
                <td><span ng-bind="Employee.FirstName+' '+Employee.MiddleName+' '+Employee.LastName"></span></td>
                <td><span ng-bind="Employee.Email"></span></td>
                <td><span ng-bind="Employee.JobTitle"></span></td>
                <td> <span>{{Employee.HiringDate |date : "MMMM dd, yyyy"}}</span></td>
                <td><span> {{Employee.StartingDate |date : "MMMM dd, yyyy"}}</span></td>
                <td>
                  

                    <a href="/employee/Index" ng-click="model.Delete(Employee)" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>


