
@{
    ViewBag.Title = "Index";
}

<div ng-controller="EmployeeController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Employee/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>DateHired</th>
                        <th>DateStarted</th>
                        <th>DateEnded</th>

                        <th>CompanyId</th>
                        <th>EmployeeId</th>
                        <th>JobTitleId</th>
                        <th>ManagerEmployeeId</th>

                        <th>Email</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>MiddleName</th>

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="employee in model.Employees" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(employee.EmployeeId)">
                        <td><span ng-bind="employee.DateHired | date:'yyyy-MM-dd'"></span></td>
                        <td><span ng-bind="employee.DateStarted | date:'yyyy-MM-dd'"></span></td>
                        <td><span ng-bind="employee.DateEnded | date:'yyyy-MM-dd'"></span></td>

                        <td><span ng-bind="employee.CompanyId"></span></td>
                        <td><span ng-bind="employee.EmployeeId"></span></td>
                        <td><span ng-bind="employee.JobTitleId"></span></td>
                        <td><span ng-bind="employee.ManagerEmployeeId"></span></td>

                        <td><span ng-bind="employee.Email"></span></td>
                        <td><span ng-bind="employee.FirstName"></span></td>
                        <td><span ng-bind="employee.LastName"></span></td>
                        <td><span ng-bind="employee.MiddleName"></span></td>

                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(employee.EmployeeId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(employee.EmployeeId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>