
@{
    ViewBag.Title = "Index";
}


<div ng-controller="EmployeeController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Employee/Create" class="btn btn-default">Create</a>
        </div>
        <div class="col-sm-4" style="text-align:center">
            <input type="checkbox" ng-model="model.EmployeeFilter.isResigned" ng-change="model.Rfilter()" />
    <label>Employee Resigned</label>
        </div>
    <div class="btn btn-default pull-right" style="text-align:right">
        <input type="text" placeholder="Name Of Employee...." ng-model="model.EmployeeFilter.Name" ng-change="model.Rfilter()">
        <input type="month" ng-model="model.EmployeeFilter.DateHiredFrom" ng-change="model.Rfilter()"><br />
        <button id="searchLogo" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        <label>Search</label>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">

                        <th>EmployeeNumber</th>
                        <th>Email</th>
                        <th>LastName</th>
                        <th>FirstName</th>
                        <th>MiddleName</th>

                        <th>Company Name</th>
                        <th>JobTitleName</th>

                        <th>Manager</th>
                        <th>DateHired</th>
                        <th>DateStarted</th>
                        <th>DateEnded</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="employee in model.Employees" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(employee.EmployeeId)">

                        <td><span ng-bind="employee.EmployeeNumber"></span></td>
                        <td><span ng-bind="employee.Email"></span></td>
                        <td><span ng-bind="employee.LastName"></span></td>
                        <td><span ng-bind="employee.FirstName"></span></td>
                        <td><span ng-bind="employee.MiddleName"></span></td>
                        <td><span ng-bind="employee.Company.Name"></span></td>
                        <td><span ng-bind="employee.JobTitle.Name"></span></td>

                        <td>
                            <span ng-bind="employee.FirstName"></span>
                            <span ng-bind="employee.MiddleName"></span>
                            <span ng-bind="employee.LastName"></span>
                        </td>


                        <td><span ng-bind="employee.DateHired | date:'yyyy-MM-dd'"></span></td>
                        <td><span ng-bind="employee.DateStarted | date:'yyyy-MM-dd'"></span></td>
                        <td><span ng-bind="employee.DateEnded | date:'yyyy-MM-dd'"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(employee.EmployeeId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(employee.EmployeeId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
