
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


    <div >
        <form method="post" action="~/Company/Details">
            <br />
            <label for="CompanyName">Company Name:</label>
            <input type="text" class="form-control" name="Company.CompanyName" value="@Model.CompanyName" disabled />
            <input type="hidden" name="Company.CompanyId" value="@Model.CompanyId" disabled />
            <br />
            <a href="/Company/Edit/@Model.CompanyId" class="btn btn-primary"style="margin-right:10px;" float="left"><i class="glyphicon glyphicon-edit"></i> Edit</a>
            <a href="/Company/Index" class="btn btn-danger"><i class="glyphicon glyphicon-close "></i>Close</a>
           
        </form>

      

    </div>

  
   
