
@{
    ViewBag.Title = "Index";
}


<h2>ABOUT</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<div class="container">
    
    <div class="panel panel-info" >
        <div class="panel-heading">DEVELOPERS</div>
        <div class="panel-body">
        
            <img src="~/Content/Images/lp.png" class="img-circle" alt="dev" width="30" height="30">&nbsp; Arianne Pabularcon<br /><br/>
            <img src="~/Content/Images/lp.png"  class="img-circle" alt="dev" width="30" height="30">&nbsp;Mae Ann Cacabilos<br /><br/>
            <img src="~/Content/Images/lp.png"  class="img-circle" alt="dev" width="30" height="30">&nbsp;Bianca Jane Ubanos<br /><br/>
            <img src="~/Content/Images/lp.png" class="img-circle" alt="dev" width="30" height="30">&nbsp;Christine Joy Magat<br /><br />  
        </div>
    </div>
</div>