
@{
    ViewBag.Title = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-26">
                October 26 2017
                <ul id="2017-10-26" class="collapse">
                    <li>
                        Fixed web references
                    </li>
                    <li>
                        Fixed layout removed not needed code
                    </li>
                    <li>
                        Removed images (we should use text if image only contains text)
                    </li>
                    <li>
                        About Page
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-22">
                October 22 2017
                <ul id="2017-10-22" class="collapse">
                    <li>
                        Refactored Code
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Arianne Pabularcon
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Mae Ann Cacabilos
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Bianca Jane Ubanos
                <br />
                <span class="badge">2017-08 - 2017-10</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Christine Joy Magat
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Steffanie Jane Dabandan
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Raiven Lopez
                <br />
                <span class="badge">2017-02 - 2017-05</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                    Adrianne Claude R Tubig
                </a>
                <br />
                <span class="badge">2017-03 - 2017-10</span>
            </li>
        </ul>
    </div>
</div>

