
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xs-12 text-center">
        <h2>Welcome to</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Anderson CRM</h1>
    </div>
</div>