
@{
    ViewBag.Title = "Index";
}

<div ng-controller="TeamController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Team/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>TeamId</th>
                        <th>Color</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="team in model.Teams" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(team.TeamId)">
                        <td><span ng-bind="team.TeamId"></span></td>
                        <td><span ng-bind="team.Color"></span></td>
                        <td><span ng-bind="team.Name"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(team.TeamId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(team.TeamId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>