@{
    ViewBag.Title = "Index";
}


<div class="container" style="padding:10px;">
    <div class="panel panel-flat" style="padding-top:10%; padding-bottom:10%;">
        <div class="panel-body container">
            <center><h1>Welcome to</h1></center>
            <center><img src="~/Content/Images/logo.jpg" style="width: 40%;"></center>
        </div>
    </div>
</div>


@*<div class="footer">
    &copy; 2018. - Anderson Group BPO Inc. | <a href="#">Anderson.CRM</a> - Private and Confidential.
</div>*@