@using AndersonCRMModel;
@model Department

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div class="row">
    <div class="col-sm-12">
        <form action="~/Department/Update" method="post">
            @{
                Html.RenderPartial("_Department", Model);
            }
        </form>
    </div>
</div>