
@{
    ViewBag.Title = "Index";
}

<div ng-controller="PeripheralController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Peripheral/Create" class="btn btn-default">Create</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>PeripheralId</th>
                        <th>EmployeeId</th>
                        <th>PeripheralTypeId</th>

                        <th>AssetTag</th>
                        <th>Description</th>
                        <th>Name</th>
                        <th>SerialNumber</th>
                        <th>CreatedBy</th>
                        <th>UpdatedBy</th>

                        <th>CreateDate</th>
                        <th>UpdateDate</th>
                       

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="peripheral in model.Peripherals" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(peripheral.PeripheralId)">

                        <td><span ng-bind="peripheral.PeripheralId"></span></td>
                        <td><span ng-bind="peripheral.EmployeeId"></span></td>
                        <td><span ng-bind="peripheral.PeripheralTypeId"></span></td>
                        <td><span ng-bind="peripheral.AssetTag"></span></td>
                        <td><span ng-bind="peripheral.Description"></span></td>
                        <td><span ng-bind="peripheral.Name"></span></td>

                        <td><span ng-bind="peripheral.SerialNumber"></span></td>
                        <td><span ng-bind="peripheral.CreatedBy"></span></td>
                        <td><span ng-bind="peripheral.UpdatedBy"></span></td>

                        <td><span ng-bind="peripheral.CreateDate | date:'yyyy-MM-dd'"></span></td>
                        <td><span ng-bind="peripheral.UpdateDate | date:'yyyy-MM-dd'"></span></td>
                        

                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(peripheral.PeripheralId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(peripheral.PeripheralId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>