
@{
    ViewBag.Title = "Add";
}

<h2>Add Asset History</h2>


<div ng-controller="PeripheralHistoryController as model" ng-init="model.List()">
    <div class="form-group">
        <br />
        <form action="~/PeripheralHistory/add" method="get">
            <label for="Date">Date: </label>
            <input type="hidden" class="form-control" id="Date" ng-model="model.PeripheralHistory.Date" ng-init="model.InitialiseDate('@Model.Date')" disabled />
            <label for="EmployeeId">Employee Id:</label>
            <input type="text" class="form-control" id="EmployeeId" ng-model="model.PeripheralHistory.EmployeeId" placeholder="Employee Id" required />
            <label for="PeripheralId">Asset Id:</label><br />
            <input list="PeripheralId" name="PeripheralId" ng-model="model.PeripheralHistory.PeripheralId" type="text" class="form-control" placeholder="Asset ID">

            <br />
        </form>
        <a href="/PeripheralHistory/Index" ng-click="model.Create()" class="btn btn-info" role="button" style="margin-left:10px" float="left"><i class="glyphicon glyphicon-plus-sign"></i> ADD</a>
        <a href="/PeripheralHistory/Index" class="btn btn-danger" role="button" style="margin-left:10px" float="left"><i class="glyphicon glyphicon-remove"></i> Close</a>
    </div>

</div>