@{
    ViewBag.Title = "Index";
}
<h1>Asset History</h1>
<br />
<div ng-controller="PeripheralHistoryController as model" ng-init="model.List()">
    <div class="wrap">
        <div class="search">
            <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search here.." />
        </div>
    </div>
    <div class="row">
    </div><br />
    <table class="table table-hover table-sm table-bordered " id="tableid">
        <thead>
            <tr class="active" id="info">
                <th>Date</th>
                <th>Employee Name</th>
                <th>Asset Name</th>
                <th style="width: 100px">Update</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="PeripheralHistory in model.PeripheralHistories" style="cursor:pointer">
                <td><span>{{PeripheralHistory.Date | date: "MMMM dd, yyyy"}}</span></td>
                <td><span ng-bind="PeripheralHistory.Employee.FirstName+' '+PeripheralHistory.Employee.MiddleName+' '+PeripheralHistory.Employee.LastName"></span></td>
                <td><span ng-bind="PeripheralHistory.Peripheral.PeripheralName"></span></td>
                <td>
                    <a href="/PeripheralHistory/Index" ng-click="model.Delete(PeripheralHistory)" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


